.header__exit-button {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  text-decoration: none;
  margin: auto 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__exit-button:hover {
  opacity: 0.6;
}

.header__exit-button:focus {
  outline: none;
}

@media screen and (max-width: 320px) {
  .header__exit-button {
    font-size: 14px;
    line-height: 17px;
  }
}