.popup__form-field {
  position: relative;
  margin-bottom: 18px;
  display: flex;
}

.popup__form-field:first-of-type {
  margin-top: 41px;
}

.popup__form-field:last-of-type {
  margin-bottom: 10px;
}
