.element__remove {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  right: 15px;
  background-image: url('../../../images/remove.svg');
  background-position: center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.element__remove:hover {
  opacity: 0.6;
}

.element__remove:focus {
  outline: none;
}
