@import url("./__logo/header__logo.css");
@import url("./__link/header__link.css");
@import url("./__exit-button/header__exit-button.css");
@import url("./__menu/header__menu.css");
@import url("./__user-email/header__user-email.css");

.header {
  padding: 45px 0 40px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
  }
}
